
$clrBackground: #FFF;

$clrPrimary: #1FAE4B;
$clrSecondary: #4ec0c1;

$clrText: #8c989e;

$fontPrimary: 'robotoregular', Arial, Helvetica, Sans-serif;
$fontSecondary: 'HelveticaNeueThin', Arial, Helvetica, Sans-serif;

@mixin position($top, $right, $bottom, $left, $pos: absolute) {
    position: $pos;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
//+position(10px, 0, 0, 2px)

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin border($side, $color) {
    border-#{$side}: 1px solid $color;
}

//Page Code
#main {
    padding-bottom: 50px;
}

.main-header {
    padding-bottom: 40px;
}

.alert.alert-info {
    padding: 12px 16px;
    font-size: 16px;
}

.tab-content img, .full-width {
	width: 100%;
}
.tab-content .tab-pane > .row {
	padding-top: 50px;
}
.tab-content .col-md-4 {
	text-align: center; 
    padding: 10px;
}

.tab-content .col-md-4.active {
    background: #C3F9B4;
    border-radius: 4px;
    transition: (all 0.3s ease-in-out);
}

.alert .label {
    margin: 0 3px;
    display: inline-block;
}

.label:empty {
    display: none !important;
}

.color-setting {
    label {
        width: 120px;
    }
    input[type="text"] {
        width: 80px;
    }
}

@import "compass/css3";
