<xmp>
<!-- 3 Col > Text Box Callout ------------------------------------------------------>
<section class="section cards">
    <div class="container flex flex-space-between gap-50">
        <div class="col-30">
            <div class="card-border-box text-center">
                <p class="text-xxx-large color-primary"><strong>24+</strong></p>
                <p class="mb-0">Burger Blisses across the country</p>
            </div>
        </div>
        <div class="col-30">
            <div class="card-border-box text-center">
                <p class="text-xxx-large color-primary"><strong>17M</strong></p>
                <p class="mb-0">Burger Blisses across the country</p>
            </div>
        </div>
        <div class="col-30">
            <div class="card-border-box text-center">
                <p class="text-xxx-large color-primary"><strong>+95%</strong></p>
                <p class="mb-0">Burger Blisses across the country</p>
            </div>
        </div>
    </div>
</section>
</xmp>
