<xmp>
<!-- 3 Col Articles ------------------------------------------------------>
<section class="section cards">
    <div class="container flex flex-space-between gap-50">
        <div class="col-30">
            <img src="https://placehold.co/350x300/EFF2F6/9CB0C9" alt="" class="mb-30 border-round">
            <h3 class="text-medium mb-15">Choose Location</h3>
            <p class="text-x-small mb-25">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, ex. Voluptas nihil sequi mollitia unde ullam maiores iste ab deleniti est dicta quasi iusto sint in, ad nostrum nobis nam.</p>
            <a href="" class="btn">Read More</a>
        </div>
        <div class="col-30">
            <img src="https://placehold.co/350x300/EFF2F6/9CB0C9" alt="" class="mb-30 border-round">
            <h3 class="text-medium mb-15">Choose Location</h3>
            <p class="text-x-small mb-25">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, ex. Voluptas nihil sequi mollitia unde ullam maiores iste ab deleniti est dicta quasi iusto sint in, ad nostrum nobis nam.</p>
            <a href="" class="btn">Read More</a>
        </div>
        <div class="col-30">
            <img src="https://placehold.co/350x300/EFF2F6/9CB0C9" alt="" class="mb-30 border-round">
            <h3 class="text-medium mb-15">Choose Location</h3>
            <p class="text-x-small mb-25">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, ex. Voluptas nihil sequi mollitia unde ullam maiores iste ab deleniti est dicta quasi iusto sint in, ad nostrum nobis nam.</p>
            <a href="" class="btn">Read More</a>
        </div>
    </div>
</section>
</xmp>
