<xmp>
<!-- 3 Col - Left Image ------------------------------------------------------>
<section class="section cards">
    <div class="container flex flex-space-between gap-50">
        <div class="col-30">
            <div class="flex flex-top gap-40">
                <img src="https://placehold.co/105x105/EFF2F6/9CB0C9" alt="" class="border-round">
                <div>
                    <h3 class="text-medium mb-15">Choose Location</h3>
                    <p class="text-x-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, ex. Voluptas nihil sequi mollitia unde ullam maiores.</p>
                </div>
            </div>
        </div>
        <div class="col-30">
            <div class="flex flex-top gap-40">
                <img src="https://placehold.co/105x105/EFF2F6/9CB0C9" alt="" class="border-round">
                <div>
                    <h3 class="text-medium mb-15">Choose Location</h3>
                    <p class="text-x-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, ex. Voluptas nihil sequi mollitia unde ullam maiores.</p>
                </div>
            </div>
        </div>
        <div class="col-30">
            <div class="flex flex-top gap-40">
                <img src="https://placehold.co/105x105/EFF2F6/9CB0C9" alt="" class="border-round">
                <div>
                    <h3 class="text-medium mb-15">Choose Location</h3>
                    <p class="text-x-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, ex. Voluptas nihil sequi mollitia unde ullam maiores.</p>
                </div>
            </div>
        </div>
    </div>
</section>
</xmp>
