<xmp>
<!-- 3 Col > 2 Col Box ------------------------------------------------------>
<section class="section cards">
    <div class="container flex flex-space-between gap-50">
        <div class="col-30">
            <div class="card-border-box flex flex-top gap-20">
                <img src="https://placehold.co/60x60/ADBDD2/EFF2F6" alt="" class="card-border-box__photo">
                <div>
                    <div class="flex flex-left flex-mobile gap-5 mb-20">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg" height="20" alt="">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg" height="20" alt="">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg" height="20" alt="">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg" height="20" alt="">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg" height="20" alt="">
                    </div>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit."</p>
                    <p class="text-x-small color-primary mb-0">John Smith</p>
                </div>
            </div>
        </div>
        <div class="col-30">
            <div class="card-border-box flex flex-top gap-20">
                <img src="https://placehold.co/60x60/ADBDD2/EFF2F6" alt="" class="card-border-box__photo">
                <div>
                    <div class="flex flex-left flex-mobile gap-5 mb-20">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg" height="20" alt="">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg" height="20" alt="">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg" height="20" alt="">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg" height="20" alt="">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg" height="20" alt="">
                    </div>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit."</p>
                    <p class="text-x-small color-primary mb-0">John Smith</p>
                </div>
            </div>
        </div>
        <div class="col-30">
            <div class="card-border-box flex flex-top gap-20">
                <img src="https://placehold.co/60x60/ADBDD2/EFF2F6" alt="" class="card-border-box__photo">
                <div>
                    <div class="flex flex-left flex-mobile gap-5 mb-20">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg" height="20" alt="">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg" height="20" alt="">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg" height="20" alt="">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg" height="20" alt="">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg" height="20" alt="">
                    </div>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit."</p>
                    <p class="text-x-small color-primary mb-0">John Smith</p>
                </div>
            </div>
        </div>
    </div>
</section>
</xmp>
