<xmp>
<!-- 3 Col Image Overlay ------------------------------------------------------>
<section class="section cards">
    <div class="container mb-60">
        <div class="block-large">
            <h2 class="mb-20">Lorem Ipsum Passage</h2>
            <p class="text-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, ex. Voluptas nihil sequi mollitia unde ullam maiores iste ab deleniti est dicta quasi iusto sin.</p>
        </div>
    </div>
    <div class="container flex flex-space-between text-center">
        <a href="#" class="card-image-overlay">
            <img src="https://placehold.co/350x320/EFF2F6/9CB0C9" alt="">
            <div class="image-overlay-text color-white">Sample Name</div>
        </a>
        <a href="#" class="card-image-overlay">
            <img src="https://placehold.co/350x320/EFF2F6/9CB0C9" alt="">
            <div class="image-overlay-text color-white">Sample Name</div>
        </a>
        <a href="#" class="card-image-overlay">
            <img src="https://placehold.co/350x320/EFF2F6/9CB0C9" alt="">
            <div class="image-overlay-text color-white">Sample Name</div>
        </a>
    </div>
</section>
</xmp>
