<xmp>
<!-- Article 30/70 - Left Sidebar ------------------------------------------------------>
<section class="section">
    <div class="container flex gap-100">
        <div class="col-30">
            <h3 class="mb-30">Sidebar Column List</h3>
            <ul class="sidebar-list">
                <li><a href="">Lorem ipsum dolor</a></li>
                <li><a href="">Lorem ipsum dolor</a></li>
                <li><a href="">Lorem ipsum dolor</a></li>
                <li><a href="">Lorem ipsum dolor</a></li>
            </ul>
        </div>
        <div class="col-70">
            <h2 class="text-x-large mb-15">Lorem Ipsum is simply dummy</h2>
            <p class="text-medium mb-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, ex. Voluptas nihil sequi mollitia unde ullam maiores iste ab deleniti est dicta quasi iusto sin. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <a href="" class="btn">Read More</a>
        </div>
    </div>
</section>
</xmp>
