<xmp>
<!-- Article 50/50 - Left Image ------------------------------------------------------>
<section class="section">
    <div class="container flex gap-100">
        <div class="col">
            <img src="https://placehold.co/550x300/EFF2F6/9CB0C9" height="300" alt="" class="border-round full-width">
        </div>
        <div class="col">
            <h3 class="text-x-large mb-15">Lorem Ipsum is simply dummy</h3>
            <p class="text-medium mb-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, ex. Voluptas nihil sequi mollitia unde ullam maiores iste ab deleniti est dicta quasi iusto sin. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <a href="" class="btn">Read More</a>
        </div>
    </div>
</section>
</xmp>
