<xmp>
<section class="background-block">
    <img src="assets/images/background-img.jpg" alt="" class="background-image" style="transform:scaleX(-1)">
    <div class="container">
        <div class="row">
            <div class="background-content col-md-6 pull-right">
                <h2>SAMPLE TITLE</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cum provident ab, quaerat dolor eos ea odit. Numquam dolor totam dolorum voluptatibus excepturi similique tempore explicabo ratione. Quaerat quibusdam reiciendis cum laudantium cupiditate aperiam est officiis optio nostrum! Praesentium explicabo nesciunt nemo dolores eos commodi aliquid, repellat maxime laboriosam, veritatis temporibus vero! Magnam, ut laboriosam illo odio recusandae consequuntur quis similique aliquam, eius sapiente dolorum nihil atque sint nesciunt animi! Sunt, eaque, laborum! Vitae facere perferendis recusandae assumenda laudantium, quasi, odit reprehenderit omnis consequatur labore quia! Nobis aperiam repellendus sapiente minus, dolore, saepe cumque quibusdam sit quaerat quam quasi iste.</p>
                <a href="#" class="btn">Learn More</a>
            </div>
        </div>
    </div>
</section>
</xmp>