<xmp>
<!-- Centered Callout ------------------------------------------------------>
<section class="section {{body.background}}">
    <div class="container text-center">
        <div class="block-large block-centered">
            <h2 class="text-xx-large mb-40">Lorem Ipsum is simply dummy</h2>
            <p class="text-medium mb-30">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <a href="" class="btn">Learn More</a>
        </div>
    </div>
</section>
</xmp>
