<xmp>
<section class="listed-content">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 col-sm-4">
                <div class="listed-content-icon icon large">
                    <i class="fa fa-rocket"></i>
                </div>
                <h3>Creative design</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim placerat lectus, at ornare sapien tempor eget. Etiam vel vestibulum nisl</p>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="listed-content-icon icon large">
                    <i class="fa fa-users"></i>
                </div>
                <h3>Built for humans</h3>                
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim placerat lectus, at ornare sapien tempor eget. Etiam vel vestibulum nisl</p>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="listed-content-icon icon large">
                    <i class="fa fa-cog"></i>
                </div>
                <h3>Easy customization</h3>                
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim placerat lectus, at ornare sapien tempor eget. Etiam vel vestibulum nisl</p>
            </div>
        </div>
    </div><!-- /.container -->
</section>
</xmp>
