<xmp>
    <section class="listed-content">
        <div class="container">
            <div class="row">
                <a href="#" class="listed-content-item col-md-4">
                    <img src="assets/images/sample-img.jpg" alt="">
                    <h3>Sample Link One</h3>
                </a>
                <a href="#" class="listed-content-item col-md-4">
                    <img src="assets/images/sample-img.jpg" alt="">
                    <h3>Another Link</h3>
                </a>
                <a href="#" class="listed-content-item col-md-4">
                    <img src="assets/images/sample-img.jpg" alt="">
                    <h3>Final Link</h3>
                </a>
            </div>
        </div><!-- /.container -->
    </section>
</xmp>
