<xmp>
<section class="cards cards-overlay">
    <div class="container">
        <div class="row">
            <a href="#" class="card-item col-md-4">
                <img src="images/photos/sandwich.jpg" alt="">
                <h3 class="card-title">Sample Link One</h3>
            </a>
            <a href="#" class="card-item col-md-4">
                <img src="images/photos/sandwich.jpg" alt="">
                <h3 class="card-title">Another Link</h3>
            </a>
            <a href="#" class="card-item col-md-4">
                <img src="images/photos/sandwich.jpg" alt="">
                <h3 class="card-title">Final Link</h3>
            </a>
        </div>
    </div><!-- /.container -->
</section>
</xmp>
