<xmp>
<section class="listed-content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="image"><img src="assets/images/sample-img.jpg" alt=""></a>
                <h3>Bootstrap Call To Action</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam adipiscing, metus eu imperdiet ornare, urna lorem porttitor tortor, at condimentum massa erat sed sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam adipiscing.</p>
                <a href="">Read More <i class="fa fa-chevron-circle-right"></i></a>
            </div>
            <div class="col-md-4">
                <a href="#" class="image"><img src="assets/images/sample-img.jpg" alt=""></a>
                <h3>Highlighted Section</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam adipiscing, metus eu imperdiet ornare, urna lorem porttitor tortor, at condimentum massa erat sed sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam adipiscing.</p>
                <a href="">Read More <i class="fa fa-chevron-circle-right"></i></a>
            </div>
            <div class="col-md-4">
                <a href="#" class="image"><img src="assets/images/sample-img.jpg" alt=""></a>
                <h3>Call To Action Wordpress</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam adipiscing, metus eu imperdiet ornare, urna lorem porttitor tortor, at condimentum massa erat sed sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam adipiscing.</p>
                <a href="">Read More <i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div>
    </div><!-- /.container -->
</section>
</xmp>
