<xmp>
<section class="gallery-block">
    <div class="container">
        <div class="row">
            <div class="gallery-item col-md-4">
                <div class="image-item">
                    <div class="image image-hover-fx">
                        <img src="images/photos/sandwich.jpg" alt="">
                        <div class="image-overlay"></div>
                        <a href="#" class="portfolio-zoom"><i class="fa fa-eye"></i></a>
                        <p class="title-fx">Sample Title</p>
                    </div>
                </div>
            </div>
            <div class="gallery-item col-md-4">
                <div class="image-item">
                    <div class="image image-hover-fx">
                        <img src="images/photos/sandwich.jpg" alt="">
                        <div class="image-overlay"></div>
                        <a href="#" class="portfolio-zoom"><i class="fa fa-eye"></i></a>
                        <p class="title-fx">Sample Title</p>
                    </div>
                </div>
            </div>
            <div class="gallery-item col-md-4">
                <div class="image-item">
                    <div class="image image-hover-fx">
                        <img src="images/photos/sandwich.jpg" alt="">
                        <div class="image-overlay"></div>
                        <a href="#" class="portfolio-zoom"><i class="fa fa-eye"></i></a>
                        <p class="title-fx">Sample Title</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</section>
</xmp>
