<xmp>
<!-- Logos Social Proof ------------------------------------------------------>
<section class="section">
    <div class="container text-center">
        <h2 class="mb-60">Trusted By</h2>
        <div class="flex flex-space-between flex-center gap-20">
            <img src="https://placehold.co/150x45/EFF2F6/9CB0C9" height="45" alt="" class="border-round">
            <img src="https://placehold.co/150x45/EFF2F6/9CB0C9" height="45" alt="" class="border-round">
            <img src="https://placehold.co/150x45/EFF2F6/9CB0C9" height="45" alt="" class="border-round">
            <img src="https://placehold.co/150x45/EFF2F6/9CB0C9" height="45" alt="" class="border-round">
            <img src="https://placehold.co/150x45/EFF2F6/9CB0C9" height="45" alt="" class="border-round">
            <img src="https://placehold.co/150x45/EFF2F6/9CB0C9" height="45" alt="" class="border-round">
        </div>
    </div>
</section>
</xmp>
