<xmp>
<section>
    <div class="container">
        <div class="row margin-bottom-medium">
            <div class="col-md-1 text-right">
                <div class="icon-item icon-medium">
                    <i class="fa fa-pencil"></i>
                </div> <!-- end services-icon -->
            </div>
            <div class="col-md-3">
                <h4>Modern design</h4>
                <p>I am a member of the Imperial Senate on a diplomatic mission to Alderaan.</p>
            </div>

            <div class="col-md-1 text-right">
                <div class="icon-item icon-medium">
                    <i class="fa fa-wrench"></i>
                </div> <!-- end services-icon -->
            </div>
            <div class="col-md-3">
                <h4>Web development</h4>
                <p>I am a member of the Imperial Senate on a diplomatic mission to Alderaan.</p>
            </div>
            <div class="col-md-1 text-right">
                <div class="icon-item icon-medium">
                    <i class="fa fa-comment"></i>
                </div> <!-- end services-icon -->
            </div>
            <div class="col-md-3">
                <h4>24/7 supoort</h4>
                <p>I am a member of the Imperial Senate on a diplomatic mission to Alderaan.</p>
            </div>
        </div> <!-- end row -->
        <div class="row">
            <div class="col-md-1 text-right">
                <div class="icon-item icon-medium">
                    <i class="fa fa-globe"></i>
                </div> <!-- end services-icon -->
            </div>
            <div class="col-md-3">
                <h4>Great ideas</h4>
                <p>I am a member of the Imperial Senate on a diplomatic mission to Alderaan.</p>
            </div>

            <div class="col-md-1 text-right">
                <div class="icon-item icon-medium">
                    <i class="fa fa-envelope"></i>
                </div> <!-- end services-icon -->
            </div>
            <div class="col-md-3">
                <h4>Email marketing</h4>
                <p>I am a member of the Imperial Senate on a diplomatic mission to Alderaan.</p>
            </div>

            <div class="col-md-1 text-right">
                <div class="icon-item icon-medium">
                    <i class="fa fa-th-list"></i>
                </div> <!-- end services-icon -->
            </div>
            <div class="col-md-3">
                <h4>Interface design</h4>
                <p>I am a member of the Imperial Senate on a diplomatic mission to Alderaan.</p>
            </div>
        </div> <!-- end row -->
    </div><!-- /.container -->
</section>
</xmp>
