<xmp>
<header>
    <nav class="navbar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo"><a href="<?php echo home_url( '/' ); ?>"></a></div>
                </div>
            </div>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
           <div class="container">
               <ul id="menu-header-menu" class="nav">
                    <li class="current-menu-item"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</xmp>