<xmp>
<header>    
    <div class="container flex flex-mobile flex-space-between">
        <a href="#" class="company-logo">
            <img src="images/logo.png" alt="" class="company-logo__image">
        </a>
        <nav id="mainNav" class="flex">
            <div class="mobile-nav-burger">
                <a href="javascript:void(0);" class="mobile-nav-burger__link">
                    <svg class="mobile-nav-burger__open" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
                    <svg class="mobile-nav-burger__close" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                </a>
            </div>
            <ul class="nav-menu">
                <li class="nav-menu__list-item"><a href="#" class="nav-menu__link">Home</a></li>
                <li class="nav-menu__list-item"><a href="#" class="nav-menu__link">About</a></li>
                <li class="nav-menu__list-item"><a href="#" class="nav-menu__link">Services</a></li>
                <li class="nav-menu__list-item"><a href="#" class="nav-menu__link">Contact</a></li>
                <li class="nav-menu__list-item"><a href="#" class="nav-menu__link">Sign In</a></li>
                <li class="nav-menu__list-item"><a href="#" class="btn">Order Now</a></li>                
            </ul>
        </nav>
    </div>
</header>
</xmp>