<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="HTMLController as vm">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>Code Snipp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0">

    <link rel="stylesheet" href="assets/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/font-awesome.css" />
    <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body ng-class="pageClass('')">
<header>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-collapse collapse pull-right">
                <ul id="menu-header-menu" class="nav navbar-nav">
                    <li ng-class="menuClass('')"><a href="#/">Home</a></li>
                    <li ng-class="menuClass('phpcode')"><a href="#/phpcode">PHP Code</a></li>
                    <li ng-class="menuClass('javascript')"><a href="#/javascript">Javascript</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="main-header container text-center">
    <h1>Code Snipp <small>- Jolan Green</small></h1>
    <button class="my_clip_button btn btn-primary" ng-click="vm.download()">Download HTML/CSS</button>
    <button class="btn btn-primary" ng-click="preview()" disabled="disabled">Preview</button>
</div>

<!-- Main Content
================================================== -->
<div ng-view id="main">
    <!-- Our views (pages) will be shown inside the ng-view tag -->
</div>
<div class="clear"></div>

<pre id="HTMLContent" class="hide">
    <html-template></html-template>
</pre>

<pre id="CSSLayoutContent" class="hide">
    <css-template></css-template>
</pre>

<pre id="CSSPageContent" class="hide">
    <csspage-template></csspage-template>
</pre>

<pre id="CSSModulesContent" class="hide">
    <cssmodules-template></cssmodules-template>
</pre>

<pre id="CSSVariablesContent" class="hide">
    <cssvariables-template></cssvariables-template>
</pre>

<pre id="CSSBaseContent" class="hide">
    <cssbase-template></cssbase-template>
</pre>



<script src="assets/js/scripts.js"></script>

<!-- <script src="assets/js/ZeroClipboard.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.6/ZeroClipboard.swf"></script>
 -->
<script>
    /*$(document).ready(function() {
        var clientTarget = new ZeroClipboard($("#target-to-copy, #target-to-copy-css, #target-to-copy-css2, #target-to-copy-css3"), {
            moviePath: "assets/js/ZeroClipboard.swf",
            debug: false
        });
    });*/


    var counter = 0;
    var row = '</div><div class="row">'
    if(counter % 3 == 0) {
        '</div><div class="row">'
        counter++
    };

    //$("#font0").prop("checked", true);
    //$("#font0").prop("checked", true).trigger("click");
    $("#font0").attr('checked', 'checked').trigger("click");
</script>

    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

</body>
</html>
