<xmp>// Define our font
@font-face {font-family: "Conv_MyriadWebPro"; src: url("../fonts/MyriadWebPro.eot") format("eot"), url("../fonts/MyriadWebPro.eot?#iefix") format("eot"), url("../fonts/MyriadWebPro.woff") format("woff"), url("../fonts/MyriadWebPro.ttf") format("truetype"), url("../fonts/MyriadWebPro.svg#Conv_MyriadWebPro") format("svg");}
@font-face {font-family: "myriad-semi-bold"; src: url("../fonts/Myriad10.eot") format("eot"), url("../fonts/Myriad10.eot?#iefix") format("eot"), url("../fonts/Myriad10.woff") format("woff"), url("../fonts/Myriad10.ttf") format("truetype"), url("../fonts/Myriad10.svg#myriad-semi-bold") format("svg");}
</xmp>
