<xmp>// Define our font
+font-face("open_sansregular", font-files("opensans-regular-webfont.eot", "opensans-regular-webfont.eot?#iefix", "opensans-regular-webfont.woff", "opensans-regular-webfont.ttf", "opensans-regular-webfont.svg#open_sansregular"))

+font-face("open_sanslight", font-files("opensans-light-webfont.eot", "opensans-light-webfont.eot?#iefix", "opensans-light-webfont.woff", "opensans-light-webfont.ttf", "opensans-light-webfont.svg#open_sanslight"))

+font-face("open_sansbold", font-files("opensans-bold-webfont.eot", "opensans-bold-webfont.eot?#iefix", "opensans-bold-webfont.woff", "opensans-bold-webfont.ttf", "opensans-bold-webfont.svg#open_sansbold"))
</xmp>