

<div class="container">

    <div class="row">

      <tabset>
        <tab heading="Settings">
            <div class="row">
                <div class="col-md-12">
                    <h3>Colors</h3>
                    <div class="color-setting">
                        <label>Primary Color: </label> <span class="text-muted">#</span><input type="text" ng-model="colors.primary" max="6"> {{colors.primary}}
                    </div>
                    <div class="color-setting">
                        <label>Secondary Color: </label> <span class="text-muted">#</span><input type="text" max="6">
                    </div>
                    <div class="color-setting">
                        <label>Text Color: </label> <span class="text-muted">#</span><input type="text" max="6">
                    </div>
                    <hr>
                    <h3>Font</h3>
                    <div class="font-setting" ng-repeat="fontitem in fontitems" ng-class="{active: selected.font == fontitem}">
                        <input type="radio" name="primary" ng-click="select(fontitem, 'font')"> <label>{{fontitem.title}}</label>
                    </div>
                    <hr>
                </div>
            </div>
        </tab>
        <tab heading="Header">
            <br>
            <h4>
                <div class="alert alert-info">Selected Item: <span class="label label-success">{{ selected.header.title }}</span></div>
            </h4>
            <div class="row">
                <div class="col-md-4" ng-repeat="headeritem in headeritems" ng-class="{active: selected.header == headeritem}">
                    <img src="{{headeritem.img}}" alt="">
                    <h3>{{headeritem.title}}</h3>
                    <a href="" class="btn btn-primary" ng-click="select(headeritem, 'header')">Select</a>
                    <a href="#" class="btn btn-primary">Copy</a>
                </div>
            </div>
        </tab>
        <tab heading="Footer">
            <br>
            <h4>
                <div class="alert alert-info">Selected Item: <span class="label label-success">{{ selected.footer.title }}</span></div>
            </h4>
            <div class="row">
                <div class="col-md-4" ng-repeat="footeritem in footeritems" ng-class="{active: selected.footer == footeritem}">
                    <img src="{{footeritem.img}}" alt="">
                    <h3>{{footeritem.title}}</h3>
                    <a href="" class="btn btn-primary" ng-click="select(footeritem, 'footer')">Select</a>
                </div>
            </div>
        </tab>
        <tab heading="Banner">
            <br>
            <h4>
                <div class="alert alert-info">Selected Item: <span class="label label-success">{{ selected.banner.title }}</span></div>
            </h4>
            <div class="row">
                <div class="col-md-4" ng-repeat="banneritem in banneritems" ng-class="{active: selected.banner == banneritem}">
                    <img src="{{banneritem.img}}" alt="">
                    <h3>{{banneritem.title}}</h3>
                    <a href="" class="btn btn-primary" ng-click="select(banneritem, 'banner')">Select</a>
                </div>
            </div>
        </tab>
        <tab heading="Body">
            <br>
            <h4>
                <div  class="alert alert-info">Selected Item: <span class="label label-success" ng-repeat="body in selected.bodyitemx track by $index">{{body.title}}</span></div>
            </h4>
            <div class="row">
                <div class="col-md-4" ng-repeat="bodyitem in bodyitems track by $index" selection-model selection-model-mode="multiple-additive" selection-model-selected-class="active" ng-class="{active: selected.bodyitemx == bodyitem}">
                    <img src="{{bodyitem.img}}" alt="">
                    <h3>{{bodyitem.title}}</h3>
                    <div><input type="checkbox"> Background Color</div>
                    <a href="" class="btn btn-primary" ng-click="select(bodyitem, 'body')">Select</a>
                </div>
            </div>
        </tab>
      </tabset>

    </div><!-- .row -->
</div>

