

<div class="container">

    <div class="row">

      <tabset>
        <tab heading="Settings">
            <div class="row">
                <div class="col-md-12">
                    <h3>Colors</h3>
                    <div class="color-setting">
                        <label>Primary Color: </label> <span class="text-muted">#</span><input type="text" ng-model="colors.primary" maxlength="6" ng-init="colors.primary='1FAE4A'">
                    </div>
                    <div class="color-setting">
                        <label>Secondary Color: </label> <span class="text-muted">#</span><input type="text" ng-model="colors.secondary" maxlength="6" ng-init="colors.secondary='4EC0C2'">
                    </div>
                    <div class="color-setting">
                        <label>Text Color: </label> <span class="text-muted">#</span><input type="text" ng-model="colors.text" maxlength="6" ng-init="colors.text='8C989E'">
                    </div>
                    <hr>
                    <h3>Font</h3>
                    <div class="font-setting" ng-repeat="fontitem in fontitems" ng-class="{active: selected.font == fontitem}">
                        <input type="radio" name="font" id="font{{$index}}" ng-click="select(fontitem, 'font')"> <label>{{fontitem.title}}</label>
                    </div>

                    <hr>
                </div>
            </div>
        </tab>
        <tab heading="Header">
            <br>
            <h4>
                <div class="alert alert-info">Selected Item: <span class="label label-success">{{ selected.header.title }}</span></div>
            </h4>
            <div class="row">
                <div class="col-md-4" ng-repeat="headeritem in headeritems" ng-class="{active: selected.header == headeritem}">
                    <img src="{{headeritem.img}}" alt="">
                    <h3>{{headeritem.title}}</h3>
                    <a href="" class="btn btn-primary" ng-click="select(headeritem, 'header')">Select</a>
                    <a href="#" class="btn btn-primary">Copy</a>
                </div>
            </div>
        </tab>
        <tab heading="Footer">
            <br>
            <h4>
                <div class="alert alert-info">Selected Item: <span class="label label-success">{{ selected.footer.title }}</span></div>
            </h4>
            <div class="row">
                <div class="col-md-4" ng-repeat="footeritem in footeritems" ng-class="{active: selected.footer == footeritem}">
                    <img src="{{footeritem.img}}" alt="">
                    <h3>{{footeritem.title}}</h3>
                    <a href="" class="btn btn-primary" ng-click="select(footeritem, 'footer')">Select</a>
                </div>
            </div>
        </tab>
        <tab heading="Banner">
            <br>
            <h4>
                <div class="alert alert-info">Selected Item: <span class="label label-success">{{ selected.banner.title }}</span></div>
            </h4>
            <div class="row">
                <div class="col-md-4" ng-repeat="banneritem in banneritems" ng-class="{active: selected.banner == banneritem}">
                    <img src="{{banneritem.img}}" alt="">
                    <h3>{{banneritem.title}}</h3>
                    <a href="" class="btn btn-primary" ng-click="select(banneritem, 'banner')">Select</a>
                </div>
            </div>
        </tab>
        <tab heading="Body">
            <br>
            <h4>
                <div class="alert alert-info">Selected Item: <span class="label label-success" ng-repeat="body in selected.bodyitemx track by $index">{{body.title}}</span></div>
            </h4>
            <div class="row">
                <div class="col-md-4" ng-repeat="bodyitem in bodyitems track by $index" selection-model selection-model-mode="multiple-additive" selection-model-selected-class="active" ng-class="{active: selected.bodyitemx == bodyitem}">
                    <img src="{{bodyitem.img}}" alt="">
                    <h3>{{bodyitem.title}}</h3>
                    <!-- <a ng-click="selected.value = $index">A{{$index}}</a> -->
                    
                    <a href="#myModal" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Set BG Color</a>
                    <a href="" class="btn btn-primary" ng-click="select(bodyitem, 'body', $index)">Select</a>
                    {{bodyitem.background}}
                </div>
            </div>
        </tab>
      </tabset>

    </div><!-- .row -->
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-medium" id="myModalLabel">Class</h4>
      </div>
      <div class="modal-body">
        <div><input type="radio" name="bgcolor" ng-model="bodyitem.background" ng-true-value="{{bodyitem.background}}" ng-false-value=""> Background Blue</div>
        <div><input type="radio" name="bgcolor" ng-model="bodyitem.background" ng-true-value="{{bodyitem.background}}" ng-false-value=""> Background Gray</div>
        <div><input type="radio" name="bgcolor" ng-model="bodyitem.background" ng-true-value="background-dark" ng-false-value=""> Background Dark</div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal">Done</a>
      </div>
    </div>
  </div>
</div>