<style>
  h3 {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  pre {
    color: #529026;
    margin-bottom: 30px;
  }
  hr {
    margin: 20px 0;
  }
</style>

<section>
  <div class="container">
    <h1>Javascript</h1>

    
<h3>Targeting Elements</h3>

<code>this</code> - The DOM element the listener was attached to.<br/>
To get the desired functionality you must wrap it in a jQuery object like: <code>$(this)</code>
<hr>

<code>$(event.target)</code> - The actual DOM element that was clicked
<hr>

<code>.event.preventDefault()</code> - The default action of the event will not be triggered
<hr>


<h3>Traversing the DOM</h3>

<code>.find()</code> - Selects the first element that matches the selector, down the DOM tree.
<hr>
<code>.closest()</code> - Selects the first element that matches the selector, up from the DOM tree.
<hr>
<code>.parent()</code> - Selects one element up the DOM tree.
<hr>
<code>.parents()</code> - Method is similar to parent() but selects all the matching elements up the DOM tree.
<hr>
<code>.children()</code> - Selects all the matching elements down the DOM tree.
<hr>
<code>.siblings()</code> - Find element on same level
<hr>


<h3>Inserting / Changing / Removing DOM Elements</h3>
<p>
  <code>.text()</code> - Replaces the contents of the DOM element as plain text
  <a href="" ng-click="expandView1 = !expandView1"><i class="glyphicon glyphicon-info-sign"></i></a>
</p>
<div ng-show="expandView1">
  Doing:
  <pre>
    &lt;div id="mydiv">Hello World&lt;/div>

    $('#mydiv').text('Aloha World');
  </pre>
  Result:
  <pre>
    &lt;div id="mydiv">Aloha World&lt;/div>
  </pre>
</div>
<hr>


<p>
  <code>.html()</code> - Replaces the contents of the DOM element and the ability to add HTML characters
  <a href="" ng-click="expandView2 = !expandView2"><i class="glyphicon glyphicon-info-sign"></i></a>
</p>
<div ng-show="expandView2">
  Doing:
  <pre>
    &lt;div id="mydiv">Hello World&lt;/div>

    $('#mydiv').html('Aloha World');
  </pre>
  Result:
  <pre>
    &lt;div id="mydiv">Aloha World&lt;/div>
  </pre>
</div>
<hr>


<p>
  <code>.replaceWith()</code> - Removes content from the DOM and inserts new content in its place 
  <a href="" ng-click="expandView3 = !expandView3"><i class="glyphicon glyphicon-info-sign"></i></a>
</p>
<div ng-show="expandView3">
  Doing:
  <pre>
    &lt;div id="mydiv">Hello World&lt;/div>
  
    $('#mydiv').replaceWith('Aloha World');
  </pre>
  Result:
  <pre>
    Aloha World
  </pre>
</div>
<hr>


<p>
  <code>.replace()</code> - Searches a string for a specified value and replaces it with value provided
  <a href="" ng-click="expandView4 = !expandView4"><i class="glyphicon glyphicon-info-sign"></i></a>
</p>
<div ng-show="expandView4">
  <pre>
    var str = "Visit Microsoft!";
    var res = str.replace("Microsoft", "W3Schools");
  </pre>
</div>
<hr>


<p>
  <code>.filter()</code> - Use filter() to select a specified set of elements
  <a href="" ng-click="expandView5 = !expandView5"><i class="glyphicon glyphicon-info-sign"></i></a>
</p>
<div ng-show="expandView5">
  <pre>
    &lt;ul>
    &lt;li>&lt;/li>
    &lt;li class="middle">&lt;/li>
    &lt;li>&lt;/li>
    &lt;/ul>
    $("li").filter(".middle").css( "border-color", "red" );
  </pre>
</div>
<hr>

<code>.prepend()</code> -  Insert content to the beginning of the main element
<hr>

<code>.append()</code> -  Insert content to the end of the main element
<hr>


<h3>Returning Data From Elements</h3>
<p>
  <code>.data()</code> - The data() method attaches data to, or gets data from, selected elements
  <a href="" ng-click="expandView6 = !expandView6"><i class="glyphicon glyphicon-info-sign"></i></a>
</p>
<div ng-show="expandView6">
  Doing:
  <pre>
    &lt;a href="#" id="mydiv" data-example="Goodbye">Hello World&lt;/a>
    &lt;div id="result">&lt;/div>

    var newGreeting = $('#mydiv').data('example');
    $('#result').text(newGreeting);
  </pre>
  Result:
  <pre>
    &lt;div id="result">Goodbye&lt;/div>
  </pre>
</div>
<hr>
    
    
<h3>Animating Elements</h3>
<p>
  <code>.animate()</code> - Create animation effects on any numeric CSS property
  <a href="" ng-click="expandView7 = !expandView7"><i class="glyphicon glyphicon-info-sign"></i></a>
</p>
<div ng-show="expandView7">
  Doing:
  <pre>
    $('#mydiv').animate({height: "20px"}, 500);
    
    
  </pre>
</div>
<hr>
<code>.slideDown() / .slideUp()</code> - Display the matched elements with a sliding motion
<hr>
<code>.fadeIn() / .fadeOut()</code> - Display the matched elements by fading them to opaque
<hr>


<div class="well">
  <code>
  .each()<br/>

  .attr('src', 'test.jpg')<br/>
  .removeAttr()<br/>
  .data()<br/>
  .blur()  .focus()<br/>
  .val()<br/>

  .append()<br/>
  .prepend()<br/>
  .unwrap<br/>
  .wrap()<br/>

  .has()<br/>

  .height()<br/>
  .length()<br/>
  .scrollTop()<br/>

  .appendTo()<br/>
  .prependTo()<br/>
  .insertBefore()<br />
  .insertAfter()<br />

  
  
  </code>
</div>

  </div>
</section>
