<xmp>
/* ==========================================================================
   Global
   ========================================================================== */
body
    background: $clrBackground
    padding: 0px
    color: $clrText
    font-family: $fontPrimary
    font-size: 14px

a, a:visited
    color: $clrPrimary
    text-decoration: none
    +transition(all 0.2s ease-in-out)

a:hover, a:focus, a:active
    color: $clrSecondary
    text-decoration: none

hr
    border-bottom: 1px solid $clrBright
    border: 0
    margin: 15px 0

.img-fit img
    width: 100%


/* ==========================================================================
   Header
   ========================================================================== */
.home header
    background: transparent
</xmp><div ng-include="selected.header.css"></div><xmp>

        //Sub-Menu --
        .menu-toggle
            display: none

        .sub-menu
            top: 30px

        .sub-menu,
        .children
            background-color: $clrBright
            border-top: 0
            display: none
            left: -2px
            list-style: none
            padding: 0
            position: absolute
            z-index: 3000
            li
                background: $clrDark
                +border(bottom, #555)
                padding: 6px 5px
                text-align: center
                a
                    display: block
                    margin: 0
                    min-width: 200px
                    color: $clrBrightest
                    text-decoration: none

                &:hover
                    background: $clrSecondary
                    color: $clrBrightest
                    a
                        color: $clrBrightest


            .sub-menu ul,
            .children ul
                border-left: 0
                left: 100%
                top: 0px

            //HOVER ACTIVATION
            li:hover > ul, li:hover > ul
                display: block

/* ==========================================================================
   Banner
   ========================================================================== */
</xmp><div ng-include="selected.banner.css"></div><xmp>


/* Page Heading */
.page-intro
    background: image-url("headers/banner1.jpg")
    background-size: cover
    color: $clrBrightest

    .tint
        padding: 30px 0
        position: relative

    .col-md-6:last-child
        text-align: right

    .col-md-6 a, .page-intro .col-md-6 h1
        color: $clrBrightest

    .col-md-6 h1
        margin-bottom: 0

.breadcrumb
    background: transparent
    line-height: 40px
    margin-bottom: 0



/* ==========================================================================
   Main Body, Content Area
   ========================================================================== */
#main section
    padding: 80px 0


.main-body
    padding: 40px 0
// .primary, .secondary

.secondary
    aside
        margin-bottom: 30px
    h3
        margin-bottom: 5px
        color: $clrText
    ul
        margin-bottom: 35px
        margin-left: 0
        padding-left: 0
    ul li
        border-bottom: 1px solid $clrBright
        list-style: none
        margin-bottom: 0
        line-height: 40px
        a
            color: $clrText
            &:hover
                color: $clrPrimary
                text-decoration: none

        &.current_page_item > a,
        &.current_page_ancestor > a,
        &.current-menu-item > a,
        &.current-menu-ancestor > a
            color: $clrPrimary

        ul ul li
            border-bottom: none
            padding-left: 20px
            line-height: 30px

    // li:before
    //     font-family: 'FontAwesome'
    //     content: '\f105'
    //     margin: 0 10px 0 -15px
/* ==========================================================================
   Footer
   ========================================================================== */
</xmp><div ng-include="selected.footer.css"></div>
