<xmp>
/* ==========================================================================
   PAGE SPECIFIC CSS
   ========================================================================== */

/*___________________________ HOME PAGE ___________________________*/

</xmp><div ng-include="selected.banner.css"></div><xmp>


/*___________________________ BLOG PAGE ___________________________*/

.blog article
    border-bottom: 1px solid $clrBright
    margin-bottom: 30px

.comment-list footer
    background: transparent
    
.textwidget
    padding: 10px


</xmp>
