<xmp>
/* ==========================================================================
   VARIABLES
   ========================================================================== */

/*___________________________ TEXT ___________________________*/
$color-background: #FFF;
$color-white: #FFF;

</xmp><div ng-include="colors.css"></div><xmp>

$color-brightest: #fff;
$color-bright: #e1e1e1;
$color-medium: #777;
$color-dark: #333;
$color-darkest: #111;
$color-primary-dark: #111;

</xmp><div ng-include="selected.font.css"></div><xmp>

$font-size-xx-small: 12px;
$font-size-x-small: 15px;
$font-size-small: 16px;
$font-size-medium: 20px;
$font-size-medium-large: 22px;
$font-size-large: 25px;
$font-size-x-large: 32px;
$font-size-xx-large: 42px;
$font-size-xxx-large: 48px;

/*___________________________ SPACING ___________________________*/
$spacing-x-small: 5px;
$spacing-small: 15px;
$spacing-medium: 25px;
$spacing-large: 50px;
$spacing-x-large: 75px;
$spacing-xx-large: 100px;

</xmp>