<xmp>
<section id="section-hero" class="section-hero">
    <div class="container text-center">
        <div class="block-centered--medium">
            <div class="section-hero__label mb-15">Label goes here</div>
            <h1 class="section-hero__title">This Is Sample Text</h1>
            <p class="section-hero__description mb-30">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum quasi molestias quod sapiente eius dolorem qui enim sit architecto natus expedita, nobis hic optio, praesentium ipsum rem doloremque quia labore!</p>
            <div class="flex gap-20">
                <a href="#" class="btn btn--large">Order Now</a>
                <a href="#" class="btn btn--large btn--outlined">Explore</a>
            </div>
        </div>
    </div>
</section>
</xmp>
