<xmp>
<section id="banner" class="banner">
    <div id="myCarousel" class="carousel slide">
        <!-- <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol> -->
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item tint active" style="background-image: url('images/heroes/banner1.jpg');">
                <div class="container item-container background-dark text-center">
                    <div class="row">
                        <h1 class="color-white">This Is Sample Text</h1>
                        <p class="color-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, autem suscipit itaque.</p>
                    </div>
                </div>
            </div>
            <div class="item tint" style="background-image: url('images/heroes/header.jpg');">
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <a href="#intro" class="icon-item icon-item-o icon-white down-button floating"><i class="fa fa-chevron-down"></i></a>
    </div>
</section>
</xmp>
