<xmp>
<section id="section-hero" class="section-hero">
    <div class="container flex flex-space-between flex-center gap-20">
        <div class="section-hero__left col">
            <img src="https://placehold.co/500x300" alt="">
        </div>
        <div class="section-hero__right col">
            <div class="section-hero__label mb-15">Label goes here</div>
            <h1 class="section-hero__title">This Is Sample Text</h1>
            <p class="section-hero__description mb-30">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum quasi molestias quod sapiente eius dolorem qui enim sit architecto natus expedita, nobis hic optio, praesentium ipsum rem doloremque quia labore!</p>
            <div class="section-hero__button-container flex flex-left gap-15">
                <a href="#" class="btn">Explore</a>
                <a href="" class="btn btn--outlined">Try for Free</a>
            </div>
        </div>
    </div>
</section>
</xmp>
