<xmp>
header {
  padding-top: 15px;
  @include breakpoint('sm', 'up') {
    .company-logo {
      padding: 20px 0;
    }
  }
  /*______ HEADER FORM _____*/
  .header-form {
    justify-content: right;
    .header-form__input-wrapper {
      position: relative;
      margin-right: 10px;
    }
    .header-form__search-icon {
      fill: $color-primary;
      position: absolute;
      top: 4px;
      right: 7px;
    }
    .header-form__input {
      width: auto;
      height: 22px;
      padding-right: 30px;
      margin-bottom: 0;
    }
    .header-form__btn {
      border: 1px solid #fff;
      height: 32px;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
  /*______ NAVIGATION _____*/
  #mainNav {
    @include breakpoint('sm', 'up') {
      width: 100%;
    }
    display: flex;
    justify-content: left;
  }
  .nav-menu {
    list-style: none;
    padding-left: 0;
    gap: 10px;
    align-items: center;
    @include breakpoint('sm', 'up') {
      grid-auto-flow: column;
      display: grid !important;
    }
    @media (max-width: 900px) and (min-width: 768px) {
      gap: 0;
    }
    @include breakpoint {
      display: none;
      width: 100%;
      position: absolute;
      top: 52px;
      left: 0;
      z-index: 200;
      padding-bottom: 30px;
      background-color: $color-brightest;
    }
  }
  .nav-menu__list-item {
    font-family: $font-tertiary;
    font-size: $root-font-size;
    text-align: center;
    white-space: nowrap;
    @include breakpoint {
      padding-left: 20px;
      padding-right: 20px;
      .btn {
          margin: 5px 0;
      }
    }
    .nav-menu__link {
      display: inline-block;
      color: $color-text;
      padding: 7px;
      &:hover {
          color: $color-primary-dark;
      }
    }
  }
  .mobile-nav-burger {
    display: none;
    @include breakpoint {
      display: block;
      position: relative;
      z-index: 201;
      .mobile-nav-burger__close {
          display: none;
      }
    }
    .mobile-nav-burger__link {
      fill: $color-text;
      &:hover {
          fill: $color-primary-dark;
      }
    }
  }
}
/*______ MOBILE NAV BURGER _____*/
#mainNav.active {
  .mobile-nav-burger__open {
    display: none;
  }
  .mobile-nav-burger__close {
    display: block;
  }
}
</xmp>