<xmp>
header {
  @include breakpoint {
    padding-top: 15px;
  }
  .main-nav {
    width: 100%;
    @include breakpoint {
      align-items: center;
    }
  }
  @include breakpoint('sm', 'up') {
    .company-logo {
      padding: 20px 0;
    }
  }
  /*______ NAVIGATION _____*/
  .nav-menu {
    list-style: none;
    gap: 10px;
    align-items: center;
    @include breakpoint('sm', 'up') {
      grid-auto-flow: column;
      display: grid !important;
    }
    @media (max-width: 900px) and (min-width: 768px) {
      gap: 0;
    }
    @include breakpoint {
      display: none;
      width: 100%;
      position: absolute;
      top: 72px;
      left: 0;
      z-index: 200;
      padding-bottom: 30px;
      background-color: $color-brightest;
    }
  }
  .nav-menu__list-item {
    font-size: $root-font-size;
    text-align: center;
    white-space: nowrap;
    @include breakpoint {
      padding-left: 20px;
      padding-right: 20px;
      .btn {
        margin: 5px 0;
      }
    }
    .nav-menu__link {
      display: inline-block;
      color: $color-text;
      padding: 7px;
      &:hover {
        color: $color-primary-dark;
      }
    }
  }
  @include breakpoint {
    .nav-menu--secondary {
      display: none !important;
    }
  }
  .mobile-nav-burger {
    display: none;
    @include breakpoint {
      display: block;
      .mobile-nav-burger__close {
        display: none;
      }
    }
    .mobile-nav-burger__link {
      fill: $color-text;
      &:hover {
        fill: $color-primary-dark;
      }
    }
  }
}

/*______ MOBILE NAV BURGER _____*/
#mainNav.active {
  .mobile-nav-burger__open {
    display: none;
  }
  .mobile-nav-burger__close {
    display: block;
  }
}
</xmp>
