<xmp>
.top
    background: $clrDark
    height: 40px

.navbar-form
    margin-bottom: 6px
    margin-top: 6px
    input[type="text"]
        border-radius: 5px
        height: auto !important
        margin-bottom: 0
        +transition(all 0.4s ease-in-out)
        width: 200px
        &:focus
            width: 250px
    i
        left: -28px
        position: relative
        top: 0px
        color: $clrMedium
    input[type="submit"]
        background: $clrPrimary
        height: 28px
        margin-left: -12px
        padding: 2px 8px


header
    .navbar
        margin-bottom: 0
        padding: 20px 0

    .container
        position: relative

        h1
            margin: 0
            line-height: 0
            @media (max-width: 480px)
                background: white
                display: block
                width: 100%
                height: 100px
                float: none
                text-align: center

        h1 a.logo
            background: image-url("logo.png") no-repeat
            display: block
            float: left
            height: 50px
            left: 0
            width: 200px
            @media (max-width: 480px)
                margin: 0 auto
                float: none
                left: auto

// NAVIGATION ----------------------------->
nav.navbar
    background: transparent
    +border-radius(0)
    margin-bottom: 0
    padding: 7px 0 4px
    @media (max-width: 480px)
        padding: 0
        .navbar-header
            background: $clrPrimary

    a, a:visited
        color: $clrMedium
        &:hover
            color: $clrBrightest
            text-decoration: none

    .nav
        display: inline-block
        & > li
            display: inline-block
            padding: 5px 0
            position: relative
            & > a
                +border-radius(10px)
                margin-left: 5px
                padding: 8px 15px
                text-transform: uppercase
                &:hover
                    background-color: $clrPrimary

        //Active State --
        .active > a,
        .current_page_item > a,
        .current_page_ancestor > a,
        .current-menu-item > a,
        .current-menu-ancestor > a
            background-color: $clrPrimary
            color: $clrBrightest
            text-decoration: none
</xmp>
