<xmp>
header
    padding-top: 15px
    .container
        position: relative
        text-align: center

        .logo
            margin: 0
            line-height: 0

        .logo a
            background: image-url("logo.png") no-repeat center $color-bright
            display: block
            height: 180px
            left: 0
            margin-bottom: 15px
            margin: 0 auto
            width: 100%

.navbar-form
    margin-bottom: 6px
    margin-top: 19px
    input[type="text"]
        border-radius: 5px
        height: auto !important
        +transition(all 0.4s ease-in-out)
        width: 200px
        &:focus
            width: 250px
    i
        left: -28px
        position: relative
        top: 0px
        color: $color-Medium
    input[type="submit"]
        background: $color-primary
        height: 28px
        margin-left: -12px
        padding: 2px 8px


/*___________________________ NAVIGATION ___________________________*/
nav.navbar
    background: $color-background
    +border-radius(0)
    margin-bottom: 0
    text-align: center

    a, a:visited
        color: $color-bright

    //Adjust Nav Bar BG Color
    .navbar-collapse
        background: $color-dark

    .nav
        margin: 6px 0
        & > li
            float: left
            list-style: none
            position: relative
            & > a
                padding: 15px 8px
                text-transform: uppercase
                +font(17px)
                &:after
                    margin-left: 22px
                    color: $color-text
                    content: "|"
                &:after:last-of-type
                    content: ""
                &:hover
                    background: transparent
                    color: $color-primary
                    text-decoration: none


</xmp>
