<xmp>
header
    .container
        position: relative
        +breakpoint
            text-align: center
    .container.top
        padding: 20px 15px

        .logo
            +breakpoint('sm', 'up')
                float: left
            a
                background: image-url("logo.png") no-repeat center top
                display: inline-block
                height: 50px
                width: 162px

        .social 
            +breakpoint('sm', 'up')
                float: right
            a
                border: 2px solid $color-text
                margin-left: 10px



/*___________________________ NAVIGATION ___________________________*/
nav.navbar
    background: $color-background
    border: none
    +border-radius(0)
    margin-bottom: 0
    text-align: center

    a, a:visited
        color: $color-text

    //Adjust Nav Bar BG Color
    .navbar-collapse
        background: $color-darkest
    .nav
        margin: 0
        & > li
            display: inline-block
            list-style: none
            position: relative
            & > a
                padding: 15px 50px
                text-transform: uppercase
                +font(17px)
                &:hover
                    background: $color-primary
                    color: $color-brightest
                    text-decoration: none

        //Active State --
        .active > a,
        .current_page_item > a,
        .current_page_ancestor > a,
        .current-menu-item > a,
        .current-menu-ancestor > a
            background-color: $color-primary
            color: $color-brightest
            text-decoration: none

        //Sub-Menu --
        .menu-toggle
            display: none

        .sub-menu
            top: 30px

        .sub-menu,
        .children
            background-color: $color-bright
            border-top: 0
            display: none
            padding: 0
            position: absolute
            left: -2px
            z-index: 3000
            list-style: none
            +breakpoint
                position: static
            li
                padding: 6px 5px
                text-align: center
                +border(bottom, #555)
                background: $color-dark
                a
                    color: $color-brightest
                    margin: 0
                    display: block
                    min-width: 200px
                    text-decoration: none

                &:hover
                    background: $color-secondary
                    color: $color-brightest
                    a
                        color: $color-brightest
                          
      
            .sub-menu ul,
            .children ul
                border-left: 0
                left: 100%
                top: 0px
      
        //HOVER ACTIVATION
        li:hover > ul
            display: block
</xmp>                