<xmp>
<footer>
    <div class="container text-center">
        <hr>
        <div class="footer-bottom-wrapper mb-20">
            <nav class="footer-top__nav mb-mobile">
                <ul class="nav-menu">
                    <li class="nav-menu__list-item"><a href="#" class="nav-menu__link">Home</a></li>
                    <li class="nav-menu__list-item"><a href="#" class="nav-menu__link">About</a></li>
                    <li class="nav-menu__list-item"><a href="#" class="nav-menu__link">Services</a></li>
                    <li class="nav-menu__list-item"><a href="#" class="nav-menu__link">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-bottom-wrapper pb-20">
            <div class="footer-bottom__copyright flex flex-vertical text-center">&copy;  UntitledCompany. All Rights Reserved.</div>
        </div>
    </div>
</footer>
</xmp>
