<xmp>
<footer>
    <div class="container padding-top-medium padding-bottom-medium text-center">
        <ul class="margin-bottom-medium">
            <li><a href="#">home</a></li>
            <li><a href="#">sample</a></li>
            <li><a href="#">sample</a></li>
            <li><a href="#">sample</a></li>
            <li><a href="#">sample</a></li>
            <li><a href="#">sample</a></li>
        </ul>
        <div class="text-muted text-x-small">
            &copy; UntitledCompany. All Rights Reserved.
        </div>
    </div>
</footer>
</xmp>
