<xmp>
<footer>
    <div class="container">
        <div class="footer-top-wrapper flex flex-space-between">
            <div class="footer-top__content mb-mobile">
                <div class="footer-top__content__title mb-25">Subscribe</div>
                <p class="footer-top__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, quam a! Ratione maiores esse impedit voluptatem.</p>
                <a href="" class="footer-top__form__btn btn">Get Started</a>
            </div>
            <nav class="footer-top__nav mb-mobile">
                <ul class="nav-menu">
                    <li class="nav-menu__list-title">Home</li>
                    <li class="nav-menu__list-item"><a href="#" class="nav-menu__link">Home</a></li>
                    <li class="nav-menu__list-item"><a href="#" class="nav-menu__link">About</a></li>
                    <li class="nav-menu__list-item"><a href="#" class="nav-menu__link">Services</a></li>
                    <li class="nav-menu__list-item"><a href="#" class="nav-menu__link">Contact</a></li>
                </ul>
            </nav>
            <nav class="footer-top__nav mb-mobile">
                <ul class="nav-menu">
                    <li class="nav-menu__list-title">Services</li>
                    <li class="nav-menu__list-item"><a href="#" class="nav-menu__link">Web-designers</a></li>
                    <li class="nav-menu__list-item"><a href="#" class="nav-menu__link">Marketers</a></li>
                    <li class="nav-menu__list-item"><a href="#" class="nav-menu__link">Small Business</a></li>
                    <li class="nav-menu__list-item"><a href="#" class="nav-menu__link">Website Builder</a></li>
                </ul>
            </nav>
            <nav class="footer-top__nav mb-mobile">
                <ul class="nav-menu">
                    <li class="nav-menu__list-title">Contact</li>
                    <li class="nav-menu__list-item"><a href="#" class="nav-menu__link">Web-designers</a></li>
                    <li class="nav-menu__list-item"><a href="#" class="nav-menu__link">About</a></li>
                    <li class="nav-menu__list-item"><a href="#" class="nav-menu__link">Website Builder</a></li>
                    <li class="nav-menu__list-item"><a href="#" class="nav-menu__link">Contact</a></li>
                </ul>
            </nav>
        </div>
        <hr>
        <div class="footer-bottom-wrapper text-center pb-20">
            <div class="footer-bottom__copyright">&copy;  UntitledCompany. All Rights Reserved.</div>
        </div>
    </div>
</footer>
</xmp>