#main { padding-bottom: 50px; }

.main-header { padding-bottom: 40px; }

.tab-content img { width: 100%; }

.tab-content .tab-pane > .row { padding-top: 50px; }

.tab-content .col-md-4 { text-align: center; padding: 10px; }

.tab-content .col-md-4.active { background: #C3F9B4; border-radius: 4px; transition: all 0.3s ease-in-out; }
