#main { padding-bottom: 50px; }

.main-header { padding-bottom: 40px; }

.alert.alert-info { padding: 12px 16px; font-size: 16px; }

.tab-content img, .full-width { width: 100%; }

.tab-content .tab-pane > .row { padding-top: 50px; }

.tab-content .col-md-4 { text-align: center; padding: 10px; }

.tab-content .col-md-4.active { background: #C3F9B4; border-radius: 4px; transition: all 0.3s ease-in-out; }

.alert .label { margin: 0 3px; display: inline-block; }

.label:empty { display: none !important; }

.color-setting label { width: 130px; }
.color-setting input[type="text"] { width: 80px; }

.image-block { 
    min-height: 250px;
    display: flex;
    align-items: center;
    background: #f1f1f1;
    padding: 15px;
}