<xmp>
<!doctype html>
<html lang="en-US">

<head>
<meta charset="UTF-8" />
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<title>UntitledCompany</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0">

<link rel="stylesheet" href="css/min/bootstrap.min.css" />
<link rel="stylesheet" href="css/min/font-awesome.min.css" />
<link href="style.css" type="text/css" rel="stylesheet"  />

</head>

<body class="home">

<!-- Header
================================================== -->
</xmp><div ng-include="selected.header.html"></div><xmp>

<!-- Main Content
================================================== -->
<main id="main">
<!-- begin BANNER -->
</xmp><div ng-include="selected.banner.html"></div><xmp>
<!-- end BANNER -->
</xmp><div ng-include="selected.cta.html"></div><xmp>
</xmp><div ng-repeat="body in selected.bodyitemx track by $index"><div ng-include="body.html"></div></div><xmp>
</main>
<div class="clear"></div>

<!-- Footer ================================================== -->
</xmp><div ng-include="selected.footer.html"></div><xmp>

<script src="js/min/scripts.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.map"></script>

<!-- LiveReload -->
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>
</xmp>

