<xmp>
.accordian-arrow .panel-default .panel-heading a
    background: image-url('accordian-arrow.png') no-repeat right -19px

.panel-default
    border: none
    border-top: 1px solid #dddddd
    border-radius: 0
    box-shadow: none
    background: transparent
    margin-bottom: 0
    padding: 10px 0
    &:first-child
        border-top: none
    
    > .panel-heading
        background: none
        border: none
        color: $color-text
        padding: 10px 0
        h3
            color: $color-dark
            +font(17px)
        h3, 
        h4, 
        p
            margin-bottom: 0
            padding-bottom: 0
            text-transform: none
        
        a
            display: block
            background: image-url('plus-minus.jpg') no-repeat right -24px
            height: 24px
            transition: none
            &.collapsed
                background-position: right top
            &:focus
                outline: none
            
    
    > .panel-heading + .panel-collapse > .panel-body
        border: none
        padding: 0
        +font(14px)
    
    ul
        margin-left: 30px
        li
            margin-bottom: 2px
            list-style: disc
        
        &.checkmark-list
            margin-left: 20px
            li
                list-style: none   
    
    .panel-body p + ul
        margin-top: -10px
    

.panel-group.plus-list .panel-heading
    padding: 20px


//#accordion plus
#accordion i
    font-weight: normal
</xmp>
