<xmp>
// Gallery
.gallery-block
    .gallery-item
        padding-left: 0
        padding-right: 0
        .image
            height: 290px


// Image Hover
.image
    display: block
    height: 190px
    margin-bottom: 20px
    overflow: hidden
    img
        position: absolute
        width: 100%
        min-height: 100%

.image-hover-fx
    position: relative
    overflow: hidden

    .image-overlay
        background-color: $clrPrimary
        width: 100%
        height: 100%
        display: block
        position: absolute
        top: 0
        left: 0
        opacity: 0
        filter: alpha(opacity=0)
        -webkit-transition: all 0.2s ease
        transition: all 0.2s ease

    .portfolio-zoom
        width: 65px
        height: 65px
        text-align: center
        background-color: $clrDarkest
        display: none
        line-height: 65px
        position: absolute
        top: 50%
        left: -65px
        margin-top: -22px
        font-size: 30px
        color: #fff
        display: block
        border-radius: 2px
        &:hover
            background: $clrPrimary

    .title-fx
        position: absolute
        bottom: 15%
        color: white
        text-align: center
        width: 100%
        font-size: 20px
        opacity: 0

// Hover Effects
.image-item:hover .image-hover-fx .image-overlay
    opacity: 0.50
    filter: alpha(opacity=50)

.image-item:hover .image-hover-fx .portfolio-zoom
    display: block
    left: 50%
    margin-left: -35px
    -webkit-transition: all 0.2s ease
    transition: all 0.2s ease

.image-item:hover .image-hover-fx .title-fx
    opacity: 1
    transition: all 0.3s ease

</xmp>
