<xmp>
footer {
  padding-top: 100px;
  .footer-top-wrapper {
      gap: 30px;
  }
  .footer-top__content {
      @include breakpoint('sm', 'up') {
        margin-left: auto;
        max-width: 400px;
        padding-right: 100px;
      }
      .footer-top__content__title {
        padding-left: 0;
        font-size: $font-size-large;
      }
      @include breakpoint {
        .footer-top__text {
            margin: 0 auto 25px;
        }
      }
  }
  hr {
      margin: 35px 0;
  }
  @include breakpoint('sm', 'up') {
      .footer-top__nav {
        flex-grow: 4;
      }
  }
  @include breakpoint('xl', 'up') {
      .footer-top__nav {
        min-width: 200px;
      }
  }
  .nav-menu {
      list-style: none;
      padding-left: 0;
      .nav-menu__list-item {
        font-size: $root-font-size;
        white-space: nowrap;
        padding: 10px;
      }
  }
  .nav-menu__list-title {
      font-size: $font-size-small;
      font-weight: 600;
      padding: 10px;
      @include breakpoint('sm', 'up') {
        margin-bottom: 20px;
      }
  }
}
/*______ COPYRIGHT _____*/
.footer-bottom-wrapper {
  @include breakpoint {
      flex-direction: column-reverse;
  }
  .footer-bottom__copyright {
      font-size: $font-size-x-small;
  }
}
</xmp>