<xmp>
footer
    background: $color-darkest

    hr
        border-bottom: 1px solid $color-dark
        margin: 5px 0

    .container .row
        padding: 20px 0

        ul
            padding-left: 0
            padding-top: 5px

            li
                list-style: none
                &:first-child
                    color: $color-brightest
                    +font(18px)
                a
                    color: $color-bright

                    &:hover
                        color: $color-primary
                        text-decoration: none


+breakpoint
    footer .container
        text-align: center

        .pull-right
            float: none !important
</xmp>
