<xmp>
footer
    background: $color-dark
    padding-top: 20px
    +font(13px)
    color: $color-brightest

    hr
        border-bottom: 1px solid $color-medium
        margin: 5px 0

    .container .row
        padding: 15px 0

        h4
            color: $color-brightest
            +font(15px)
            text-transform: uppercase

        ul
            padding-left: 0
            padding-top: 5px

            li
                list-style: none
                &:before
                    margin-right: 4px
                    content: '\f0da'
                    font-family: 'FontAwesome'
                    
        a
            color: $color-bright

            &:hover
                color: $color-secondary
                text-decoration: none

        .contact-info
            padding-left: 20px
            i.fa
                float: left
                margin-left: -20px
                margin-top: 3px

        form input[type="text"]
            height: 34px
            padding: 4px


+breakpoint
    footer .container
        text-align: center

        .pull-right
            float: none !important
</xmp>