<xmp>
footer
    background: $clrBackground

    .container
        border-top: 1px solid $clrBright
        padding: 15px 0
        position: relative
        text-align: center

    ul
        padding-left: 0

        li
            display: inline-table
            list-style: none
            a
                padding: 0 10px
                color: $clrText
                text-decoration: none
                
                &:hover
                    color: $clrPrimary
                    text-decoration: underline
</xmp>
